In [5]:
import sqlite3

def main():
    # Path to your athome_listings.db database file
    db_path = "athome_listings.db"

    # Connect to the SQLite database
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    # SQL query:
    #  - Reformat the createdAt and soldAt dates.
    #  - Only consider listings created from 2010 onwards which have a soldAt date.
    #  - Only use listings where the soldAt date is later than or equal to createdAt.
    #  - Calculate:
    #      · The number of transactions per group
    #      · The average number of days a listing was open.
    #      · The average m²/€ ratio (only when price > 0 and "characteristic.surface"
    #        is not NULL and greater than 0).
    query = """
    SELECT 
      CAST(SUBSTR(createdAt, 1, 4) AS INTEGER) AS year,
      [transaction],
      COUNT(*) AS transaction_count,
      AVG(
        JULIANDAY(REPLACE(SUBSTR(soldAt, 1, 19), 'T', ' ')) -
        JULIANDAY(
          SUBSTR(createdAt, 1, 4) || '-' ||
          SUBSTR(createdAt, 5, 2) || '-' ||
          SUBSTR(createdAt, 7, 2) || ' ' ||
          SUBSTR(createdAt, 10, 2) || ':' ||
          SUBSTR(createdAt, 12, 2) || ':' ||
          SUBSTR(createdAt, 14, 2)
        )
      ) AS avg_open_days,
      AVG(
         CASE 
           WHEN price > 0 AND "characteristic.surface" IS NOT NULL
                AND "characteristic.surface" > 0
           THEN "characteristic.surface" / price
         END
      ) AS avg_m2_per_euro
    FROM listings
    WHERE CAST(SUBSTR(createdAt, 1, 4) AS INTEGER) >= 2010
      AND soldAt IS NOT NULL
      AND [transaction] IN ('rent', 'buy')
      AND (
        JULIANDAY(REPLACE(SUBSTR(soldAt, 1, 19), 'T', ' ')) -
        JULIANDAY(
          SUBSTR(createdAt, 1, 4) || '-' ||
          SUBSTR(createdAt, 5, 2) || '-' ||
          SUBSTR(createdAt, 7, 2) || ' ' ||
          SUBSTR(createdAt, 10, 2) || ':' ||
          SUBSTR(createdAt, 12, 2) || ':' ||
          SUBSTR(createdAt, 14, 2)
        )
      ) >= 0
    GROUP BY year, [transaction]
    ORDER BY year, [transaction];
    """

    try:
        # Execute the query and fetch the results
        cursor.execute(query)
        results = cursor.fetchall()

        # Print a header
        header = (
            f"{'Year':<6} | {'Type':<8} | {'Count':<7} | "
            f"{'Avg Open Days':<14} | {'Avg m²/€':<10}"
        )
        print(header)
        print("-" * len(header))

        # Print each row of results
        for row in results:
            year, trans, cnt, avg_open_days, avg_m2_per_euro = row
            avg_days_str = f"{avg_open_days:.2f}" if avg_open_days is not None else "None"
            # Only show avg_m2_per_euro when available; otherwise "None"
            avg_m2_str = f"{avg_m2_per_euro:.4f}" if avg_m2_per_euro is not None else "None"
            print(f"{year:<6} | {trans:<8} | {cnt:<7} | {avg_days_str:<14} | {avg_m2_str:<10}")

    except sqlite3.OperationalError as e:
        print("SQLite error:", e)
    finally:
        # Close the database connection
        conn.close()

if __name__ == "__main__":
    main()

Year   | Type     | Count   | Avg Open Days  | Avg m²/€
---------------------------------------------------------
2010   | buy      | 9       | 4677.00        | 0.0003
2011   | buy      | 295     | 4565.02        | 0.0007
2012   | buy      | 316     | 4298.51        | 0.0004
2012   | rent     | 1       | 4194.05        | 0.0380
2013   | buy      | 107     | 3871.95        | 0.0003
2013   | rent     | 1       | 4008.02        | 0.0152
2014   | buy      | 68      | 3491.28        | 0.0004
2015   | buy      | 98      | 2901.60        | 0.0004
2016   | buy      | 80      | 2623.54        | 0.0004
2016   | rent     | 1       | 2699.06        | 0.0180
2017   | buy      | 57      | 1825.24        | 0.0003
2018   | buy      | 114     | 1136.42        | 7.6517
2018   | rent     | 1       | 1976.77        | 0.0225
2019   | buy      | 207     | 669.82         | 3.2191
2019   | rent     | 5       | 1800.36        | 0.0530
2020   | buy      | 446     | 337.89         | 10.2160
2020   | rent     | 35      | 1094.90        | 0.0523
2021   | buy      | 760     | 243.91         | 7.8596
2021   | rent     | 68      | 962.03         | 0.0493
2022   | buy      | 798     | 280.61         | 14.9293
2022   | rent     | 127     | 659.97         | 0.0412
2023   | buy      | 1097    | 207.64         | 739.4467
2023   | rent     | 570     | 172.79         | 0.0432
2024   | buy      | 1140    | 129.39         | 2.1494
2024   | rent     | 1248    | 57.41          | 0.0457
2025   | buy      | 2       | 34.09          | 0.0003
2025   | rent     | 73      | 16.87          | 0.0385

In [6]:
import sqlite3

def debug_2025_rent():
    db_path = "athome_listings.db"  # Adjust if necessary
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    # Debug query: select the id, price, surface, and ratio for listings in 2025 with rent
    query_debug = """
    SELECT 
      id,
      price,
      "characteristic.surface" AS surface,
      ("characteristic.surface") / price AS ratio,
      SUBSTR(createdAt, 1, 4) AS year,
      [transaction],
      soldAt
    FROM listings
    WHERE CAST(SUBSTR(createdAt, 1, 4) AS INTEGER) = 2025
      AND [transaction] = 'rent'
      AND soldAt IS NOT NULL
      AND price > 0
      AND "characteristic.surface" IS NOT NULL
      AND "characteristic.surface" > 0
      AND (
            JULIANDAY(REPLACE(SUBSTR(soldAt, 1, 19), 'T', ' '))
            - JULIANDAY(
                SUBSTR(createdAt, 1, 4) || '-' ||
                SUBSTR(createdAt, 5, 2) || '-' ||
                SUBSTR(createdAt, 7, 2) || ' ' ||
                SUBSTR(createdAt, 10, 2) || ':' ||
                SUBSTR(createdAt, 12, 2) || ':' ||
                SUBSTR(createdAt, 14, 2)
              )
          ) >= 0
    ORDER BY id;
    """
    
    try:
        cursor.execute(query_debug)
        rows = cursor.fetchall()
        
        print("Debug Data for 2025 rent listings:")
        print("ID   | Price     | Surface (m²) | Ratio (m²/€)")
        print("-" * 50)
        
        for row in rows:
            listing_id, price, surface, ratio, year, trans, soldAt = row
            print(f"{listing_id:<4} | {price:<9} | {surface:<12} | {ratio:<10.5f}")
        
        # Optionally, get aggregated average for comparison
        query_avg = """
        SELECT AVG( ("characteristic.surface") / price )
        FROM listings
        WHERE CAST(SUBSTR(createdAt, 1, 4) AS INTEGER) = 2025
          AND [transaction] = 'rent'
          AND soldAt IS NOT NULL
          AND price > 0
          AND "characteristic.surface" IS NOT NULL
          AND "characteristic.surface" > 0
          AND (
                JULIANDAY(REPLACE(SUBSTR(soldAt, 1, 19), 'T', ' '))
                - JULIANDAY(
                    SUBSTR(createdAt, 1, 4) || '-' ||
                    SUBSTR(createdAt, 5, 2) || '-' ||
                    SUBSTR(createdAt, 7, 2) || ' ' ||
                    SUBSTR(createdAt, 10, 2) || ':' ||
                    SUBSTR(createdAt, 12, 2) || ':' ||
                    SUBSTR(createdAt, 14, 2)
                  )
              ) >= 0;
        """
        cursor.execute(query_avg)
        avg_value = cursor.fetchone()[0]
        print("\nAggregated average m²/€ for 2025 rent:", 
              f"{avg_value:.5f}" if avg_value is not None else "None")
        
    except sqlite3.OperationalError as e:
        print("SQLite error:", e)
    finally:
        conn.close()

if __name__ == "__main__":
    debug_2025_rent()

Debug Data for 2025 rent listings:
ID   | Price     | Surface (m²) | Ratio (m²/€)
--------------------------------------------------
8435530 | 1050.0    | 45.0         | 0.04286
8435704 | 1000.0    | 22.0         | 0.02200
8435704 | 1000.0    | 22.0         | 0.02200
8435736 | 1450.0    | 38.0         | 0.02621
8435880 | 1800.0    | 65.0         | 0.03611
8435895 | 2000.0    | 90.0         | 0.04500
8435895 | 2000.0    | 90.0         | 0.04500
8436506 | 1700.0    | 70.0         | 0.04118
8436546 | 1700.0    | 85.0         | 0.05000
8436831 | 1850.0    | 56.0         | 0.03027
8437497 | 850.0     | 11.0         | 0.01294
8440552 | 1200.0    | 90.0         | 0.07500
8441431 | 2300.0    | 104.0        | 0.04522
8441819 | 246.0     | 7.0          | 0.02846
8441820 | 1000.0    | 22.0         | 0.02200
8441820 | 1000.0    | 22.0         | 0.02200
8441825 | 397.0     | 11.0         | 0.02771
8442504 | 1800.0    | 60.0         | 0.03333
8442533 | 900.0     | 16.0         | 0.01778
8443048 | 1850.0    | 100.0        | 0.05405
8443130 | 1100.0    | 15.0         | 0.01364
8443440 | 1100.0    | 27.0         | 0.02455
8443542 | 1350.0    | 63.0         | 0.04667
8444324 | 850.0     | 35.0         | 0.04118
8444833 | 580.0     | 27.0         | 0.04655
8444929 | 1700.0    | 70.0         | 0.04118
8445743 | 1450.0    | 103.0        | 0.07103
8445748 | 1400.0    | 80.0         | 0.05714
8445752 | 100.0     | 16.0         | 0.16000
8445909 | 1600.0    | 75.0         | 0.04688
8446878 | 4800.0    | 155.0        | 0.03229
8446948 | 1700.0    | 45.0         | 0.02647
8447285 | 2400.0    | 120.0        | 0.05000
8448240 | 1100.0    | 22.0         | 0.02000
8448688 | 2990.0    | 100.0        | 0.03344
8448735 | 1165.0    | 9.0          | 0.00773
8449221 | 680.0     | 55.0         | 0.08088
8449463 | 1490.0    | 35.0         | 0.02349
8449590 | 1300.0    | 45.54        | 0.03503
8449959 | 1600.0    | 52.5         | 0.03281
8450189 | 890.0     | 14.0         | 0.01573
8450407 | 1150.0    | 35.0         | 0.03043
8450422 | 1050.0    | 35.0         | 0.03333
8450916 | 1950.0    | 136.0        | 0.06974
8452890 | 3750.0    | 168.0        | 0.04480
8456170 | 2200.0    | 85.0         | 0.03864
8456188 | 1100.0    | 22.0         | 0.02000
8457959 | 2400.0    | 120.0        | 0.05000
8458526 | 1500.0    | 65.0         | 0.04333
8459286 | 1660.0    | 47.0         | 0.02831
8459767 | 1550.0    | 26.0         | 0.01677
8459779 | 2200.0    | 87.0         | 0.03955
8459843 | 1400.0    | 55.0         | 0.03929
8460371 | 1850.0    | 85.0         | 0.04595
8465644 | 3500.0    | 200.0        | 0.05714
8465723 | 1600.0    | 75.5         | 0.04719
8465724 | 1100.0    | 16.7         | 0.01518
8465744 | 1300.0    | 18.0         | 0.01385
8465827 | 2600.0    | 142.0        | 0.05462
8466239 | 2300.0    | 100.0        | 0.04348
8466738 | 2600.0    | 120.0        | 0.04615
8466961 | 1600.0    | 53.0         | 0.03313
8468734 | 2100.0    | 70.0         | 0.03333
8468735 | 1040.0    | 15.0         | 0.01442
8470119 | 1500.0    | 64.0         | 0.04267
8470240 | 1500.0    | 65.0         | 0.04333
8470721 | 1850.0    | 83.0         | 0.04486
8471560 | 1700.0    | 54.0         | 0.03176
8477339 | 2100.0    | 52.0         | 0.02476
8478828 | 1750.0    | 78.0         | 0.04457
8481415 | 2400.0    | 90.0         | 0.03750
8485307 | 2100.0    | 52.0         | 0.02476
8488256 | 780.0     | 43.0         | 0.05513

Aggregated average m²/€ for 2025 rent: 0.03854

In [7]:
import sqlite3
import numpy as np

def debug_2025_rent_ratio():
    db_path = "athome_listings.db"  # Adjust the filename/path if needed
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    # SQL query to fetch listings for 2025 with transaction 'rent'
    # The ratio is calculated as price divided by "characteristic.surface" (€/m²)
    # The posted conditions exclude rows with invalid data.
    query = """
    SELECT 
      id,
      price,
      "characteristic.surface" AS surface,
      price / "characteristic.surface" AS ratio, 
      SUBSTR(createdAt, 1, 4) AS year,
      [transaction],
      soldAt
    FROM listings
    WHERE CAST(SUBSTR(createdAt, 1, 4) AS INTEGER) = 2025
      AND [transaction] = 'rent'
      AND soldAt IS NOT NULL
      AND price > 0
      AND "characteristic.surface" IS NOT NULL
      AND "characteristic.surface" > 0
      AND (
        JULIANDAY(REPLACE(SUBSTR(soldAt, 1, 19), 'T', ' ')) -
        JULIANDAY(
          SUBSTR(createdAt, 1, 4) || '-' ||
          SUBSTR(createdAt, 5, 2) || '-' ||
          SUBSTR(createdAt, 7, 2) || ' ' ||
          SUBSTR(createdAt, 10, 2) || ':' ||
          SUBSTR(createdAt, 12, 2) || ':' ||
          SUBSTR(createdAt, 14, 2)
        )
      ) >= 0
    ORDER BY id;
    """

    try:
        cursor.execute(query)
        rows = cursor.fetchall()

        print("Debug Data for 2025 rent listings (€/m² ratio):")
        print("ID   | Price (€)  | Surface (m²) | Ratio (€/m²)")
        print("-" * 60)

        ratios = []  # Store individual ratio values

        for row in rows:
            listing_id, price, surface, ratio, year, trans, soldAt = row
            print(f"{listing_id:<4} | {price:<10.2f} | {surface:<12.2f} | {ratio:<12.4f}")
            ratios.append(ratio)

        if not ratios:
            print("No listings found matching criteria.")
        else:
            # Convert ratios list to a NumPy array for statistical calculations.
            ratios_array = np.array(ratios)
            average = ratios_array.mean()
            median = np.median(ratios_array)
            q1 = np.percentile(ratios_array, 25)
            q3 = np.percentile(ratios_array, 75)

            print("\nAggregated Statistics for 2025 rent (€/m²):")
            print(f"Count: {len(ratios)}")
            print(f"Average: {average:.4f}")
            print(f"Median:  {median:.4f}")
            print(f"Q1 (25th percentile): {q1:.4f}")
            print(f"Q3 (75th percentile): {q3:.4f}")

    except sqlite3.OperationalError as e:
        print("SQLite error:", e)
    finally:
        conn.close()

if __name__ == "__main__":
    debug_2025_rent_ratio()

Debug Data for 2025 rent listings (€/m² ratio):
ID   | Price (€)  | Surface (m²) | Ratio (€/m²)
------------------------------------------------------------
8435530 | 1050.00    | 45.00        | 23.3333
8435704 | 1000.00    | 22.00        | 45.4545
8435704 | 1000.00    | 22.00        | 45.4545
8435736 | 1450.00    | 38.00        | 38.1579
8435880 | 1800.00    | 65.00        | 27.6923
8435895 | 2000.00    | 90.00        | 22.2222
8435895 | 2000.00    | 90.00        | 22.2222
8436506 | 1700.00    | 70.00        | 24.2857
8436546 | 1700.00    | 85.00        | 20.0000
8436831 | 1850.00    | 56.00        | 33.0357
8437497 | 850.00     | 11.00        | 77.2727
8440552 | 1200.00    | 90.00        | 13.3333
8441431 | 2300.00    | 104.00       | 22.1154
8441819 | 246.00     | 7.00         | 35.1429
8441820 | 1000.00    | 22.00        | 45.4545
8441820 | 1000.00    | 22.00        | 45.4545
8441825 | 397.00     | 11.00        | 36.0909
8442504 | 1800.00    | 60.00        | 30.0000
8442533 | 900.00     | 16.00        | 56.2500
8443048 | 1850.00    | 100.00       | 18.5000
8443130 | 1100.00    | 15.00        | 73.3333
8443440 | 1100.00    | 27.00        | 40.7407
8443542 | 1350.00    | 63.00        | 21.4286
8444324 | 850.00     | 35.00        | 24.2857
8444833 | 580.00     | 27.00        | 21.4815
8444929 | 1700.00    | 70.00        | 24.2857
8445743 | 1450.00    | 103.00       | 14.0777
8445748 | 1400.00    | 80.00        | 17.5000
8445752 | 100.00     | 16.00        | 6.2500
8445909 | 1600.00    | 75.00        | 21.3333
8446878 | 4800.00    | 155.00       | 30.9677
8446948 | 1700.00    | 45.00        | 37.7778
8447285 | 2400.00    | 120.00       | 20.0000
8448240 | 1100.00    | 22.00        | 50.0000
8448688 | 2990.00    | 100.00       | 29.9000
8448735 | 1165.00    | 9.00         | 129.4444
8449221 | 680.00     | 55.00        | 12.3636
8449463 | 1490.00    | 35.00        | 42.5714
8449590 | 1300.00    | 45.54        | 28.5463
8449959 | 1600.00    | 52.50        | 30.4762
8450189 | 890.00     | 14.00        | 63.5714
8450407 | 1150.00    | 35.00        | 32.8571
8450422 | 1050.00    | 35.00        | 30.0000
8450916 | 1950.00    | 136.00       | 14.3382
8452890 | 3750.00    | 168.00       | 22.3214
8456170 | 2200.00    | 85.00        | 25.8824
8456188 | 1100.00    | 22.00        | 50.0000
8457959 | 2400.00    | 120.00       | 20.0000
8458526 | 1500.00    | 65.00        | 23.0769
8459286 | 1660.00    | 47.00        | 35.3191
8459767 | 1550.00    | 26.00        | 59.6154
8459779 | 2200.00    | 87.00        | 25.2874
8459843 | 1400.00    | 55.00        | 25.4545
8460371 | 1850.00    | 85.00        | 21.7647
8465644 | 3500.00    | 200.00       | 17.5000
8465723 | 1600.00    | 75.50        | 21.1921
8465724 | 1100.00    | 16.70        | 65.8683
8465744 | 1300.00    | 18.00        | 72.2222
8465827 | 2600.00    | 142.00       | 18.3099
8466239 | 2300.00    | 100.00       | 23.0000
8466738 | 2600.00    | 120.00       | 21.6667
8466961 | 1600.00    | 53.00        | 30.1887
8468734 | 2100.00    | 70.00        | 30.0000
8468735 | 1040.00    | 15.00        | 69.3333
8470119 | 1500.00    | 64.00        | 23.4375
8470240 | 1500.00    | 65.00        | 23.0769
8470721 | 1850.00    | 83.00        | 22.2892
8471560 | 1700.00    | 54.00        | 31.4815
8477339 | 2100.00    | 52.00        | 40.3846
8478828 | 1750.00    | 78.00        | 22.4359
8481415 | 2400.00    | 90.00        | 26.6667
8485307 | 2100.00    | 52.00        | 40.3846
8488256 | 780.00     | 43.00        | 18.1395

Aggregated Statistics for 2025 rent (€/m²):
Count: 73
Average: 33.2233
Median:  26.6667
Q1 (25th percentile): 21.7647
Q3 (75th percentile): 40.3846

In [8]:
import sqlite3
import numpy as np

def debug_all_years_ratio():
    db_path = "athome_listings.db"  # Adjust your database path if needed
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    # SQL query retrieves all listings from 2010 onward where:
    # - soldAt is available and the listing was sold after (or at) the created time
    # - price (> 0) and "characteristic.surface" (> 0) are valid
    # - [transaction] is rent or buy
    # The €/m² ratio is calculated as price divided by surface.
    query = """
    SELECT 
        id,
        price,
        "characteristic.surface" AS surface,
        price / "characteristic.surface" AS ratio,
        CAST(SUBSTR(createdAt, 1, 4) AS INTEGER) AS year,
        [transaction],
        soldAt
    FROM listings
    WHERE CAST(SUBSTR(createdAt, 1, 4) AS INTEGER) >= 2010
      AND soldAt IS NOT NULL
      AND [transaction] IN ('rent', 'buy')
      AND price > 0
      AND "characteristic.surface" IS NOT NULL
      AND "characteristic.surface" > 0
      AND (
           JULIANDAY(REPLACE(SUBSTR(soldAt, 1, 19), 'T', ' ')) -
           JULIANDAY(
             SUBSTR(createdAt, 1, 4) || '-' ||
             SUBSTR(createdAt, 5, 2) || '-' ||
             SUBSTR(createdAt, 7, 2) || ' ' ||
             SUBSTR(createdAt, 10, 2) || ':' ||
             SUBSTR(createdAt, 12, 2) || ':' ||
             SUBSTR(createdAt, 14, 2)
           )
      ) >= 0
    ORDER BY year, [transaction], id;
    """

    try:
        cursor.execute(query)
        rows = cursor.fetchall()

        # Group rows by (year, transaction)
        data_by_group = {}
        for row in rows:
            listing_id, price, surface, ratio, year, trans, soldAt = row
            key = (year, trans)
            if key not in data_by_group:
                data_by_group[key] = []
            data_by_group[key].append({
                "id": listing_id,
                "price": price,
                "surface": surface,
                "ratio": ratio,
                "soldAt": soldAt
            })

        # Print aggregated statistics for each group.
        print("Aggregated €/m² statistics for all years (€/m² = price / surface):")
        header = (
            f"{'Year':>4} | {'Transaction':>10} | {'Count':>6} | "
            f"{'Avg (€/m²)':>12} | {'Median':>12} | {'Q1':>12} | {'Q3':>12}"
        )
        print(header)
        print("-" * len(header))

        # Iterate over groups in sorted order and calculate aggregates.
        for key in sorted(data_by_group.keys()):
            year, trans = key
            group_data = data_by_group[key]
            ratios = np.array([entry["ratio"] for entry in group_data])
            count = len(ratios)
            average = ratios.mean()
            median = np.median(ratios)
            q1 = np.percentile(ratios, 25)
            q3 = np.percentile(ratios, 75)
            print(
                f"{year:>4} | {trans:>10} | {count:6d} | "
                f"{average:12.4f} | {median:12.4f} | {q1:12.4f} | {q3:12.4f}"
            )

    except sqlite3.OperationalError as e:
        print("SQLite error:", e)
    finally:
        conn.close()

if __name__ == "__main__":
    debug_all_years_ratio()

Aggregated €/m² statistics for all years (€/m² = price / surface):
Year | Transaction |  Count |   Avg (€/m²) |       Median |           Q1 |           Q3
---------------------------------------------------------------------------------------
2010 |        buy |      5 |    3286.8653 |    3041.4414 |    2998.4615 |    3255.4847
2011 |        buy |    246 |    2548.0447 |    2586.5385 |    2241.6667 |    2864.7059
2012 |        buy |    261 |    2884.1818 |    2700.0000 |    2434.7826 |    3466.6667
2012 |       rent |      1 |      26.3158 |      26.3158 |      26.3158 |      26.3158
2013 |        buy |     80 |    3358.1037 |    3247.7810 |    2814.9962 |    3884.2647
2013 |       rent |      1 |      65.8333 |      65.8333 |      65.8333 |      65.8333
2014 |        buy |     63 |    3387.6311 |    3040.0000 |    2519.7917 |    3955.1163
2015 |        buy |     78 |    3390.6797 |    2904.3445 |    2712.6431 |    3684.2105
2016 |        buy |     66 |    3374.6313 |    3052.5266 |    2575.2508 |    3976.0714
2016 |       rent |      1 |      55.6250 |      55.6250 |      55.6250 |      55.6250
2017 |        buy |     45 |    4222.3733 |    4091.6876 |    3357.1429 |    5114.2857
2018 |        buy |     86 |    4379.0487 |    4526.9709 |    3095.4102 |    5640.1065
2018 |       rent |      1 |      44.4444 |      44.4444 |      44.4444 |      44.4444
2019 |        buy |    169 |    5690.0423 |    5490.0000 |    4195.6522 |    7142.8571
2019 |       rent |      5 |      24.9295 |      23.9796 |      11.9048 |      29.6667
2020 |        buy |    412 |    5847.5188 |    5910.9891 |    4121.9512 |    7748.7500
2020 |       rent |     35 |      27.9105 |      26.1111 |      16.8125 |      32.0733
2021 |        buy |    720 |    7210.2997 |    7354.7538 |    4908.3158 |    9583.9500
2021 |       rent |     64 |      29.3402 |      25.5844 |      18.8118 |      32.9808
2022 |        buy |    742 |    6318.6487 |    6724.0803 |    3433.6918 |    8840.4977
2022 |       rent |    118 |      35.5623 |      27.2078 |      20.0080 |      42.5000
2023 |        buy |   1047 |    5960.3787 |    6125.0000 |    3704.8151 |    8148.0068
2023 |       rent |    534 |      30.7045 |      24.4015 |      19.1054 |      33.0028
2024 |        buy |   1116 |    9321.2529 |    6916.6667 |    4327.5770 |    8731.2500
2024 |       rent |   1244 |      35.9850 |      24.7340 |      19.0163 |      33.8592
2025 |        buy |      2 |    3980.1136 |    3980.1136 |    3626.4205 |    4333.8068
2025 |       rent |     73 |      33.2233 |      26.6667 |      21.7647 |      40.3846

In [10]:
import sqlite3
import numpy as np

def debug_all_years_by_country_ratio():
    db_path = "athome_listings.db"  # Adjust your DB path if needed
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    # SQL query retrieves all listings from 2010 onward that:
    # - Have a soldAt date (and soldAt is after or equal to createdAt)
    # - Have a valid price (> 0) and a valid "characteristic.surface" (> 0)
    # - Are either rent or buy transactions.
    # The €/m² ratio is computed as price / "characteristic.surface"
    query = """
    SELECT 
        id,
        price,
        "characteristic.surface" AS surface,
        price / "characteristic.surface" AS ratio,
        CAST(SUBSTR(createdAt, 1, 4) AS INTEGER) AS year,
        [transaction],
        "address.country" AS country,
        soldAt
    FROM listings
    WHERE CAST(SUBSTR(createdAt, 1, 4) AS INTEGER) >= 2010
      AND soldAt IS NOT NULL
      AND [transaction] IN ('rent', 'buy')
      AND price > 0
      AND "characteristic.surface" IS NOT NULL
      AND "characteristic.surface" > 0
      AND (
          JULIANDAY(REPLACE(SUBSTR(soldAt, 1, 19), 'T', ' ')) -
          JULIANDAY(
            SUBSTR(createdAt, 1, 4) || '-' ||
            SUBSTR(createdAt, 5, 2) || '-' ||
            SUBSTR(createdAt, 7, 2) || ' ' ||
            SUBSTR(createdAt, 10, 2) || ':' ||
            SUBSTR(createdAt, 12, 2) || ':' ||
            SUBSTR(createdAt, 14, 2)
          )
      ) >= 0
    ORDER BY year, [transaction], country, id;
    """

    try:
        cursor.execute(query)
        rows = cursor.fetchall()

        # Group data by (year, transaction, country)
        groups = {}
        for row in rows:
            listing_id, price, surface, ratio, year, trans, country, soldAt = row
            key = (year, trans, country)
            groups.setdefault(key, []).append(ratio)

        # Print aggregated statistics for each group.
        header = (
            f"{'Year':>4} | {'Country':>10} | {'Transaction':>10} | {'Count':>6} | "
            f"{'Average':>10} | {'Median':>10} | {'Q1':>10} | {'Q3':>10}"
        )
        print("Aggregated €/m² Ratio Statistics (€/m² = price / surface) by Country:")
        print(header)
        print("-" * len(header))

        # Sort keys while substituting a default value for None.
        sorted_keys = sorted(
            groups.keys(), key=lambda k: (k[0], k[1], k[2] if k[2] is not None else "")
        )
        for key in sorted_keys:
            year, trans, country = key
            ratios = np.array(groups[key])
            count = len(ratios)
            avg = ratios.mean()
            median = np.median(ratios)
            q1 = np.percentile(ratios, 25)
            q3 = np.percentile(ratios, 75)
            country_str = country if country is not None else "Unknown"
            print(
                f"{year:>4} | {country_str:>10} | {trans:>10} | {count:6d} | "
                f"{avg:10.4f} | {median:10.4f} | {q1:10.4f} | {q3:10.4f}"
            )

    except sqlite3.OperationalError as e:
        print("SQLite error:", e)
    finally:
        conn.close()

if __name__ == "__main__":
    debug_all_years_by_country_ratio()

Aggregated €/m² Ratio Statistics (€/m² = price / surface) by Country:
Year |    Country | Transaction |  Count |    Average |     Median |         Q1 |         Q3
--------------------------------------------------------------------------------------------
2010 | Luxembourg |        buy |      5 |  3286.8653 |  3041.4414 |  2998.4615 |  3255.4847
2011 |    Belgium |        buy |     12 |  1086.6735 |   934.4262 |   893.4426 |  1244.7981
2011 | Luxembourg |        buy |    234 |  2622.9868 |  2673.0769 |  2266.9960 |  2864.7059
2012 |    Belgium |        buy |      6 |  1677.8946 |  1613.0464 |   934.4262 |  2441.6667
2012 |    Germany |        buy |      1 |  1500.0000 |  1500.0000 |  1500.0000 |  1500.0000
2012 | Luxembourg |        buy |    254 |  2918.1263 |  2718.1818 |  2448.2759 |  3486.8421
2012 | Luxembourg |       rent |      1 |    26.3158 |    26.3158 |    26.3158 |    26.3158
2013 |    Belgium |        buy |      1 |  2339.1304 |  2339.1304 |  2339.1304 |  2339.1304
2013 |     France |        buy |      2 |  1360.7595 |  1360.7595 |  1297.4684 |  1424.0506
2013 | Luxembourg |        buy |     77 |  3423.2162 |  3267.5439 |  2837.8378 |  3897.0588
2013 | Luxembourg |       rent |      1 |    65.8333 |    65.8333 |    65.8333 |    65.8333
2014 | Luxembourg |        buy |     63 |  3387.6311 |  3040.0000 |  2519.7917 |  3955.1163
2015 |     France |        buy |      3 |  1413.6752 |  1166.6667 |  1016.6667 |  1687.1795
2015 | Luxembourg |        buy |     75 |  3469.7599 |  2915.0641 |  2724.3590 |  3739.3079
2016 |     France |        buy |      1 |   650.0000 |   650.0000 |   650.0000 |   650.0000
2016 |    Germany |        buy |      2 |  1362.2366 |  1362.2366 |   902.9228 |  1821.5504
2016 | Luxembourg |        buy |     63 |  3481.7649 |  3160.0000 |  2614.2857 |  4000.6383
2016 | Luxembourg |       rent |      1 |    55.6250 |    55.6250 |    55.6250 |    55.6250
2017 |     France |        buy |      1 |  2633.3333 |  2633.3333 |  2633.3333 |  2633.3333
2017 | Luxembourg |        buy |     44 |  4258.4879 |  4128.4913 |  3645.5357 |  5115.9784
2018 |     France |        buy |      1 |     0.0023 |     0.0023 |     0.0023 |     0.0023
2018 |    Germany |        buy |      1 |  3057.1429 |  3057.1429 |  3057.1429 |  3057.1429
2018 | Luxembourg |        buy |     84 |  4446.9171 |  4539.3939 |  3203.8923 |  5642.3857
2018 | Luxembourg |       rent |      1 |    44.4444 |    44.4444 |    44.4444 |    44.4444
2019 |    Belgium |        buy |      1 |  1800.0000 |  1800.0000 |  1800.0000 |  1800.0000
2019 |     France |        buy |      6 |  2028.3854 |  1974.0811 |  1544.6620 |  2367.5490
2019 |    Germany |        buy |      3 |  2761.5782 |  2920.4331 |  2163.0737 |  3439.5101
2019 | Luxembourg |        buy |    159 |  5907.9378 |  5684.2500 |  4400.5828 |  7256.1073
2019 | Luxembourg |       rent |      5 |    24.9295 |    23.9796 |    11.9048 |    29.6667
2020 |    Belgium |        buy |      6 |  1239.8369 |  1231.2500 |   563.0159 |  1887.5000
2020 |     France |        buy |     18 |  2919.7325 |  3019.7610 |  2231.2500 |  3467.3339
2020 |    Germany |        buy |      3 |  2152.8148 |  2126.4368 |  2094.2529 |  2198.1877
2020 | Luxembourg |        buy |    385 |  6085.0002 |  6100.0000 |  4505.4945 |  7882.3529
2020 | Luxembourg |       rent |     35 |    27.9105 |    26.1111 |    16.8125 |    32.0733
2021 |    Belgium |        buy |     18 |  2282.4019 |  1783.8110 |  1577.3574 |  2720.3833
2021 |     France |        buy |     56 |  2514.3326 |  2348.1237 |  1787.6728 |  3489.6677
2021 |    Germany |        buy |      9 |  3257.0284 |  3786.2069 |  1575.5431 |  4324.3243
2021 | Luxembourg |        buy |    637 |  7818.2366 |  7733.1215 |  5945.2517 |  9943.8202
2021 | Luxembourg |       rent |     64 |    29.3402 |    25.5844 |    18.8118 |    32.9808
2022 |    Unknown |        buy |      1 |  5750.0000 |  5750.0000 |  5750.0000 |  5750.0000
2022 |    Belgium |        buy |     56 |  1801.3115 |  1573.4922 |  1099.3902 |  2366.4332
2022 |     France |        buy |     45 |  2758.8131 |  2582.5243 |  2121.9512 |  3350.2648
2022 |    Germany |        buy |      8 |  4020.7465 |  3855.4236 |  3047.3479 |  4270.9922
2022 | Luxembourg |        buy |    632 |  7002.3755 |  7317.5346 |  5189.9164 |  9143.3673
2022 |    Germany |       rent |      1 |    11.6667 |    11.6667 |    11.6667 |    11.6667
2022 | Luxembourg |       rent |    117 |    35.7665 |    27.2727 |    20.0321 |    42.5000
2023 |    Belgium |        buy |     97 |  2058.2561 |  1911.7017 |  1442.3077 |  2660.5505
2023 |     France |        buy |     41 |  2566.4223 |  2590.0000 |  1600.0000 |  3426.6667
2023 |    Germany |        buy |     16 |  3741.9687 |  3843.0643 |  2506.3131 |  4477.3056
2023 | Luxembourg |        buy |    893 |  6579.8105 |  6737.5887 |  4964.2857 |  8460.9774
2023 |    Belgium |       rent |      1 |     8.0000 |     8.0000 |     8.0000 |     8.0000
2023 |     France |       rent |     12 |    15.9504 |    14.2857 |    14.1758 |    17.6620
2023 |    Germany |       rent |      6 |    18.7546 |    18.1818 |    17.4108 |    21.2368
2023 | Luxembourg |       rent |    515 |    31.2316 |    24.7619 |    19.7075 |    33.3333
2024 |    Belgium |        buy |    101 |  1790.5340 |  1671.7557 |  1181.8182 |  2361.1111
2024 |     France |        buy |     28 |  2587.0825 |  2500.0000 |  2031.2732 |  3043.4783
2024 |    Germany |        buy |     18 |  3149.9086 |  3042.8907 |  1700.0952 |  4208.9794
2024 | Luxembourg |        buy |    969 | 10415.4155 |  7435.8974 |  5500.0000 |  9125.0000
2024 |    Belgium |       rent |     18 |    10.5421 |    10.4433 |     8.3500 |    11.1111
2024 |     France |       rent |     30 |    17.8571 |    16.3669 |    12.9725 |    18.5609
2024 |    Germany |       rent |     19 |    14.6309 |    14.4615 |    11.4925 |    16.2500
2024 | Luxembourg |       rent |   1177 |    37.1809 |    25.5556 |    20.0000 |    34.2857
2025 | Luxembourg |        buy |      2 |  3980.1136 |  3980.1136 |  3626.4205 |  4333.8068
2025 |    Belgium |       rent |      1 |    12.3636 |    12.3636 |    12.3636 |    12.3636
2025 |     France |       rent |      2 |    19.8105 |    19.8105 |    18.9750 |    20.6460
2025 | Luxembourg |       rent |     70 |    33.9045 |    28.1193 |    22.2222 |    40.3846

In [14]:
import sqlite3
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

def fetch_aggregated_sold_data(db_path="athome_listings.db"):
    """
    Retrieves and aggregates data for listings that are sold.
    For each listing the €/m² ratio is computed as price / "characteristic.surface"
    and open_days is calculated as the difference between soldAt and createdAt.
    Data is grouped by (year, transaction, country). Only groups with 5+ data points are kept.
    The aggregated statistics are computed using the median (with quartiles).
    """
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    query = """
    SELECT 
        id,
        price,
        "characteristic.surface" AS surface,
        price / "characteristic.surface" AS ratio,
        CAST(SUBSTR(createdAt, 1, 4) AS INTEGER) AS year,
        [transaction],
        "address.country" AS country,
        soldAt,
        (
          JULIANDAY(REPLACE(SUBSTR(soldAt, 1, 19), 'T', ' ')) -
          JULIANDAY(
            SUBSTR(createdAt, 1, 4) || '-' ||
            SUBSTR(createdAt, 5, 2) || '-' ||
            SUBSTR(createdAt, 7, 2) || ' ' ||
            SUBSTR(createdAt, 10, 2) || ':' ||
            SUBSTR(createdAt, 12, 2) || ':' ||
            SUBSTR(createdAt, 14, 2)
          )
        ) AS open_days
    FROM listings
    WHERE CAST(SUBSTR(createdAt, 1, 4) AS INTEGER) >= 2010
      AND soldAt IS NOT NULL
      AND [transaction] IN ('rent', 'buy')
      AND price > 0
      AND "characteristic.surface" IS NOT NULL
      AND "characteristic.surface" > 0
      AND (
          JULIANDAY(REPLACE(SUBSTR(soldAt, 1, 19), 'T', ' ')) -
          JULIANDAY(
            SUBSTR(createdAt, 1, 4) || '-' ||
            SUBSTR(createdAt, 5, 2) || '-' ||
            SUBSTR(createdAt, 7, 2) || ' ' ||
            SUBSTR(createdAt, 10, 2) || ':' ||
            SUBSTR(createdAt, 12, 2) || ':' ||
            SUBSTR(createdAt, 14, 2)
          )
      ) >= 0
    ORDER BY year, [transaction], country, id;
    """

    cursor.execute(query)
    rows = cursor.fetchall()
    conn.close()

    # Group by (year, transaction, country)
    groups = {}
    for row in rows:
        # Row structure:
        # (id, price, surface, ratio, year, transaction, country, soldAt, open_days)
        _, _, _, ratio, year, tran, country, _, open_days = row
        key = (year, tran, country)
        groups.setdefault(key, {"ratios": [], "open_days": []})
        groups[key]["ratios"].append(ratio)
        groups[key]["open_days"].append(open_days)

    data = []
    for key, stats in groups.items():
        count = len(stats["ratios"])
        if count < 5:
            continue  # Skip groups with fewer than 5 listings.
        year, tran, country = key
        arr_ratio = np.array(stats["ratios"])
        arr_days = np.array(stats["open_days"])
        data.append({
            "year": year,
            "transaction": tran,
            "country": country if country is not None else "Unknown",
            "count": count,
            "median_ratio": np.median(arr_ratio),
            "q1_ratio": np.percentile(arr_ratio, 25),
            "q3_ratio": np.percentile(arr_ratio, 75),
            "median_open_days": np.median(arr_days),
            "q1_open_days": np.percentile(arr_days, 25),
            "q3_open_days": np.percentile(arr_days, 75)
        })

    return pd.DataFrame(data)

def fetch_aggregated_unsold_data(db_path="athome_listings.db"):
    """
    Retrieves and aggregates data for listings that are not sold.
    For unsold listings, open_days is computed as the difference between now and createdAt.
    Data is grouped by (year, transaction, country) and only groups with 5+ data points are kept.
    Aggregated statistics (median and quartiles) for ratio and open_days are computed.
    """
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    query = """
    SELECT 
        id,
        price,
        "characteristic.surface" AS surface,
        price / "characteristic.surface" AS ratio,
        CAST(SUBSTR(createdAt, 1, 4) AS INTEGER) AS year,
        [transaction],
        "address.country" AS country,
        createdAt,
        (
          JULIANDAY('now') -
          JULIANDAY(
            SUBSTR(createdAt, 1, 4) || '-' ||
            SUBSTR(createdAt, 5, 2) || '-' ||
            SUBSTR(createdAt, 7, 2) || ' ' ||
            SUBSTR(createdAt, 10, 2) || ':' ||
            SUBSTR(createdAt, 12, 2) || ':' ||
            SUBSTR(createdAt, 14, 2)
          )
        ) AS open_days
    FROM listings
    WHERE CAST(SUBSTR(createdAt, 1, 4) AS INTEGER) >= 2010
      AND soldAt IS NULL
      AND [transaction] IN ('rent', 'buy')
      AND price > 0
      AND "characteristic.surface" IS NOT NULL
      AND "characteristic.surface" > 0
    ORDER BY year, [transaction], country, id;
    """
    cursor.execute(query)
    rows = cursor.fetchall()
    conn.close()

    # Group by (year, transaction, country)
    groups = {}
    for row in rows:
        # Row structure:
        # (id, price, surface, ratio, year, transaction, country, createdAt, open_days)
        _, _, _, ratio, year, tran, country, _, open_days = row
        key = (year, tran, country)
        groups.setdefault(key, {"ratios": [], "open_days": []})
        groups[key]["ratios"].append(ratio)
        groups[key]["open_days"].append(open_days)

    data = []
    for key, stats in groups.items():
        count = len(stats["ratios"])
        if count < 5:
            continue
        year, tran, country = key
        arr_ratio = np.array(stats["ratios"])
        arr_days = np.array(stats["open_days"])
        data.append({
            "year": year,
            "transaction": tran,
            "country": country if country is not None else "Unknown",
            "count": count,
            "median_ratio": np.median(arr_ratio),
            "q1_ratio": np.percentile(arr_ratio, 25),
            "q3_ratio": np.percentile(arr_ratio, 75),
            "median_open_days": np.median(arr_days),
            "q1_open_days": np.percentile(arr_days, 25),
            "q3_open_days": np.percentile(arr_days, 75)
        })

    return pd.DataFrame(data)

def generate_html_report(sold_df, unsold_df, output_html="report.html"):
    """
    Generates an interactive HTML report with two main sections:
     1. Sold Listings Analysis.
     2. Unsold Listings Analysis.

    For each section an interactive table and bar charts (using median values) are produced.
    """
    html_parts = []
    html_parts.append("<html><head><title>Aggregated Data Report</title></head><body>")
    html_parts.append("<h1>Aggregated Statistics Report</h1>")

    # ------------------------------
    # Section 1: Sold Listings Analysis
    # ------------------------------
    html_parts.append("<h2>Section 1: Sold Listings Analysis</h2>")
    if sold_df.empty:
        html_parts.append("<p>No sold listings groups with at least 5 data points found.</p>")
    else:
        sold_df_sorted = sold_df.sort_values(by=["year", "country", "transaction"])
        # Create a table for sold listings.
        table_sold = go.Figure(data=[go.Table(
            header=dict(
                values=list(sold_df_sorted.columns),
                fill_color="paleturquoise",
                align="left"
            ),
            cells=dict(
                values=[sold_df_sorted[col] for col in sold_df_sorted.columns],
                fill_color="lavender",
                align="left"
            )
        )])
        table_sold.update_layout(title="Sold Listings Statistics")
        html_parts.append(table_sold.to_html(full_html=False, include_plotlyjs="cdn"))

        # Bar chart for median €/m² ratio for sold listings.
        bar_sold_ratio = px.bar(
            sold_df,
            x="year",
            y="median_ratio",
            color="transaction",
            facet_col="country",
            facet_col_wrap=3,
            title="Median €/m² Ratio (Sold Listings)",
            labels={"median_ratio": "Median (€/m²)", "year": "Year"}
        )
        bar_sold_ratio.update_layout(showlegend=True)
        html_parts.append("<h3>Median €/m² Ratio (Sold Listings)</h3>")
        html_parts.append(bar_sold_ratio.to_html(full_html=False, include_plotlyjs=False))

        # Bar chart for median open days for sold listings.
        bar_sold_open = px.bar(
            sold_df,
            x="year",
            y="median_open_days",
            color="transaction",
            facet_col="country",
            facet_col_wrap=3,
            title="Median Time to Sell (Open Days) (Sold Listings)",
            labels={"median_open_days": "Median Open Days", "year": "Year"}
        )
        bar_sold_open.update_layout(showlegend=True)
        html_parts.append("<h3>Median Time to Sell (Open Days) (Sold Listings)</h3>")
        html_parts.append(bar_sold_open.to_html(full_html=False, include_plotlyjs=False))

    # ------------------------------
    # Section 2: Unsold Listings Analysis
    # ------------------------------
    html_parts.append("<h2>Section 2: Unsold Listings Analysis</h2>")
    if unsold_df.empty:
        html_parts.append("<p>No unsold listings groups with at least 5 data points found.</p>")
    else:
        unsold_df_sorted = unsold_df.sort_values(by=["year", "country", "transaction"])
        # Create a table for unsold listings.
        table_unsold = go.Figure(data=[go.Table(
            header=dict(
                values=list(unsold_df_sorted.columns),
                fill_color="paleturquoise",
                align="left"
            ),
            cells=dict(
                values=[unsold_df_sorted[col] for col in unsold_df_sorted.columns],
                fill_color="lavender",
                align="left"
            )
        )])
        table_unsold.update_layout(title="Unsold Listings Statistics")
        html_parts.append(table_unsold.to_html(full_html=False, include_plotlyjs="cdn"))

        # Bar chart for median €/m² ratio for unsold listings.
        bar_unsold_ratio = px.bar(
            unsold_df,
            x="year",
            y="median_ratio",
            color="transaction",
            facet_col="country",
            facet_col_wrap=3,
            title="Median €/m² Ratio (Unsold Listings)",
            labels={"median_ratio": "Median (€/m²)", "year": "Year"}
        )
        bar_unsold_ratio.update_layout(showlegend=True)
        html_parts.append("<h3>Median €/m² Ratio (Unsold Listings)</h3>")
        html_parts.append(bar_unsold_ratio.to_html(full_html=False, include_plotlyjs=False))

        # Bar chart for median open days for unsold listings.
        bar_unsold_open = px.bar(
            unsold_df,
            x="year",
            y="median_open_days",
            color="transaction",
            facet_col="country",
            facet_col_wrap=3,
            title="Median Time on Market (Open Days) (Unsold Listings)",
            labels={"median_open_days": "Median Open Days", "year": "Year"}
        )
        bar_unsold_open.update_layout(showlegend=True)
        html_parts.append("<h3>Median Time on Market (Open Days) (Unsold Listings)</h3>")
        html_parts.append(bar_unsold_open.to_html(full_html=False, include_plotlyjs=False))

    html_parts.append("</body></html>")

    with open(output_html, "w", encoding="utf-8") as f:
        f.write("\n".join(html_parts))

    print(f"Report saved to {output_html}")

def main():
    sold_df = fetch_aggregated_sold_data()
    unsold_df = fetch_aggregated_unsold_data()
    generate_html_report(sold_df, unsold_df)

if __name__ == "__main__":
    main()

Report saved to report.html